@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 220 13% 95%;
    --card: 224 76% 15%;
    --card-foreground: 220 13% 95%;
    --popover: 224 76% 12%;
    --popover-foreground: 220 13% 95%;
    --primary: 261 44% 80%;
    --primary-foreground: 262 52% 11%;
    --secondary: 224 76% 20%;
    --secondary-foreground: 220 13% 98%;
    --muted: 224 76% 20%;
    --muted-foreground: 220 13% 75%;
    --accent: 224 76% 25%;
    --accent-foreground: 220 13% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 76% 25%;
    --input: 224 76% 20%;
    --ring: 261 44% 80%;
    --chart-1: 262 52% 51%;
    --chart-2: 261 44% 80%;
    --chart-3: 270 50% 65%;
    --chart-4: 280 55% 70%;
    --chart-5: 290 60% 75%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 220 13% 95%;
    --card: 224 76% 15%;
    --card-foreground: 220 13% 95%;
    --popover: 224 76% 12%;
    --popover-foreground: 220 13% 95%;
    --primary: 261 44% 80%;
    --primary-foreground: 262 52% 11%;
    --secondary: 224 76% 20%;
    --secondary-foreground: 220 13% 98%;
    --muted: 224 76% 20%;
    --muted-foreground: 220 13% 75%;
    --accent: 224 76% 25%;
    --accent-foreground: 220 13% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 76% 25%;
    --input: 224 76% 20%;
    --ring: 261 44% 80%;
    --chart-1: 262 52% 51%;
    --chart-2: 261 44% 80%;
    --chart-3: 270 50% 65%;
    --chart-4: 280 55% 70%;
    --chart-5: 290 60% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
