@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 240 5% 15%;
    --foreground: 210 40% 98%;
    --card: 240 5% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 240 5% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 240 4% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 4% 20%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 4% 20%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 4% 25%;
    --input: 240 4% 25%;
    --ring: 217.2 91.2% 59.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 170 70% 50%;
    --chart-3: 350 70% 50%;
    --chart-4: 50 70% 50%;
    --chart-5: 290 70% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 5% 15%;
    --foreground: 210 40% 98%;
    --card: 240 5% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 240 5% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 240 4% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 4% 20%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 4% 20%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 4% 25%;
    --input: 240 4% 25%;
    --ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-sm;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  h1 {
    @apply text-2xl font-bold tracking-tight;
  }
  h2 {
      @apply text-xl font-semibold tracking-tight;
  }
  h3 {
      @apply text-lg font-semibold;
  }
  h4 {
      @apply text-base font-semibold;
  }

  .text-xs {
    font-size: 0.7rem;
  }
}
